.DS_Store
log/*
tmp/*
output/*
import/**/*
import/*.zip
lib/tasks/iata/import/*.html
!data_loader.*
config.ru
.code_swarm/log.xml

*~
*.tmproj
*.bbprojectd
*.sublime-workspace
.idea/*
.rvmrc
.bundle/

public/assets/
public/coffeescripts
public/javascripts/common.js
public/javascripts/i18n/*
!public/javascripts/i18n/i18n.js

public/system

public/javascripts/all.js
public/stylesheets/all.css

coverage/*
coverage.data

db/*.sqlite3
db/redis/*
db/schema.rb
db/*.sql
db/migrate/*.txt
*.sql.gz
db/backups/*
*.sql.gz
*.csv
config/database.yml
config/jetpay.yml
test/remote/merchant_accounts.yml
config/secret.yml
config/mailer.yml
config/nginx/development.conf

test/unit/themes_mock/*
test/fixtures/~$test.xlsx
test/fixtures/system
coverage/*
coverage.data
webrat-*.html
*.dot
*.swp
*.swn
*.swo

doc/*
.yardoc/*

bin/*
ndhcb_reports/*
*.war
logs/
db/mongodb/*
!.gitkeep
config/tomcat/development.properties
tags

SABA_COMPANY_EXTRACT_*.csv
SABA_Course_Class_Extract/
saba-class-course-extraction.xls

SABA_Course_Class_Extract_V2.zip
SABA_Order_Product_Extract.zip
SABA_Order_Product_Extract/
SABA_CLASS_LOCATION_EXTRACT_20110314-130632.csv

.redcar/
db/redis/appendonly.aof
attachments/
ysasecure.*
/solr/
sunspot-solr.pid
unpacked/

session.vis

.irbrc
.irb_history

